/**
  CSS Variables
*/

:root {
  // Colors - main
  --color-bg: #{ $color-darkblue };

  // Colors - text
  --color-text: #{ $color-white };
  --color-text-a50: #{ $color-white-a50 };
  --color-text-active: #{ $color-yellow };
  --color-text-hint: #{ $color-lightblue };

  // Colors - header
  --color-header: #{ $color-gray };
  --color-header-hover: #{ $color-gray-lighter };

  // Colors - navbar
  --color-navbar: #{ $color-darkgray-a80 };

  // Colors - inputs
  --color-input-bg: #{ $color-white-a06 };



  // Border-radius
  --input-border-radius: #{ $border-radius };
  --input-border-radius-inner: #{ $border-radius-inner };

  // Spacings
  --input-font-size: #{ rem(16px) };
  --input-line-height: #{ rem(16px) };
  --input-padding: #{ rem(4px) } #{ rem(24px) } #{ rem(4px) } #{ rem(8px) };
  --input-div-padding: #{ rem(6px) } #{ rem(24px) } #{ rem(6px) } #{ rem(8px) };
}