/**
 * VUE transitions
 */

// routing transition
.component-fade-enter-active,
.component-fade-leave-active {
  transition: opacity 0.2s ease;
}

.component-fade-enter-from,
.component-fade-leave-to {
  opacity: 0;
}


// Slide up
.component-slideup {
  transform-origin: 100% 0;
}

.component-slideup-enter-active,
.component-slideup-leave-active {
  transform-origin: 100% 0;
  transition: transform 0.1s linear, opacity 0.1s linear;

  // transform: scale(1);
  // transform: translate3d(0, 0, 0)
  // transform: scale(1)
}

.component-slideup-enter-from,
.component-slideup-leave-to {
  transform-origin: 100% 0;
  opacity: 0;

  // transform: translate3d(0, -20px, 0)
  transform: scale(1, 0.9);
}

// .component-slideup-leave-to {
//   opacity: 0;
//   transform: translate3d(0, 20px, 0)
// }

