/**
 * VUE transitions
 */

// routing transition
.component-fade-enter-active,
.component-fade-leave-active {
  transition: opacity 0.2s ease;
}

.component-fade-enter-from,
.component-fade-leave-to {
  opacity: 0;
}


// ..
.component-fade-fast-enter-active,
.component-fade-fast-leave-active {
  transition: opacity 0.1s ease;
}

.component-fade-fast-enter-from,
.component-fade-fast-leave-to {
  opacity: 0;
}
