/**
 * Normalization and default tags rewrites
 */



// Remove hightlight
input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

// Default appearance
input,
textarea {
  appearance: none;
}

// Scrollbar
.no-scrollbar {
  @include no-scrollbar;
}

// Selection
// ::selection {
//   color: var(--color-bg);

//   background: var(--color-text);
// }

// html/body
html {
  height: 100%;
  overflow: hidden;

  padding: 0;
  margin: 0;

  font-size: 100%;
  -webkit-tap-highlight-color: transparent;

  scroll-behavior: smooth;
}

body {
  height: 100%;

  padding: 0;
  margin: 0;
  overflow: hidden;

  line-height: 1.4;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: break-word;
  text-align: left;
}

// tags
a {
  color: inherit;
}

code,
input,
textarea,
button {
  font-family: $font-family-condensed;
  font-weight: 400;
}


label:focus {
  outline: none;
}


iframe {
  display: block;
}


img {
  position: relative;

  display: block;
  height: auto;
  max-width: 100%;
}


picture {
  display: block;
  height: auto;

  img.loading {
    transition: opacity 0.2s linear;
    opacity: 0;

    &.loaded {
      opacity: 1;
    }
  }
}

p {
  margin: 0 0 5px;
}

hr {
  height: 1px;
  min-height: 1px;

  margin: 0;
}
